@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

.newSale {
  /* height: 660px; */
  display: flex;
}

.newSaleLeft {
  flex-basis: 60%;
  /* height: 660px; */
  position: relative;
}

.newSaleLeft img {
  width: 100%;
  height: 100%;
}


.newSaleRight {
  /* width: 50%; */
  /* height: 660px; */
  position: relative;
}

.newSaleRight img {
  width: 100%;
  height: 100%;
}

.newSale .newSaleLeft p {
  position: absolute;
  top: 110px;
  left: 90px;
  color: white;
  font-size: 320px;
  font-family: "Gochi Hand", cursive;
}
.newSaleRight .texts {
  position: absolute;
  top: 180px;
  left: 70px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  gap: 20px;
}
.newSaleRight .texts .p1 {
  color: white;
  font-size: 150px;
  font-family: "Gochi Hand", cursive;
  color: black;
}
.newSaleRight .texts .p2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.newSaleRight .texts button {
  width: 220px;
  height: 60px;
  border: 2px solid black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 60px;
  font-size: 13px;
  background-color: initial;
  transition: 1s;
}
.newSaleRight .texts button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

@media screen and (max-width:768px) and (min-width: 425px)  {
  .newSale {
    margin-top: 60vh;
    flex-direction: column;
    height: 120vh;
  }

  .newSaleRight {
    flex-basis: 70%;
  }

  .newSaleRight .texts .p1 {
    font-size: 8rem;
  }

  .newSaleLeft p {
    font-size: 8rem !important;
  }

  .newSaleRight .texts {
    top: 10%;
  }
}
@media screen and (max-width:425px) and (min-width: 320px)  {
  .newSale {
    margin-top: 60vh;
    flex-direction: column;
    height: 120vh;
  }

  .newSaleRight {
    flex-basis: 70%;
  }

  .newSaleRight .texts .p1 {
    font-size: 8rem;
  }

  .newSaleLeft p {
    font-size: 8rem !important;
  }

  .newSaleRight .texts {
    top: 10%;
  }
}
