.markaLogoMain {
  max-width: 1450px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.markaLogo {
  width: 1440px;
  margin: auto;
  display: flex;
}
.first {
  width: 240px;
  height: 140px;
  border: 1px solid #d9d9d9;
}
.second {
  width: 240px;
  height: 140px;
  border: 1px solid #d9d9d9;
}
.third {
  width: 240px;
  height: 140px;
  border: 1px solid #d9d9d9;
}
.fourth {
  width: 240px;
  height: 140px;
  border: 1px solid #d9d9d9;
}
.fifth {
  width: 240px;
  height: 140px;
  border: 1px solid #d9d9d9;
}
.sixth {
  width: 240px;
  height: 140px;
  border: 1px solid #d9d9d9;
}
.first:hover {
  border: 2px solid black;
  cursor: pointer;
}
.second:hover {
  border: 2px solid black;
  cursor: pointer;
}
.third:hover {
  border: 2px solid black;
  cursor: pointer;
}
.fourth:hover {
  border: 2px solid black;
  cursor: pointer;
}
.fifth:hover {
  border: 2px solid black;
  cursor: pointer;
}
.sixth:hover {
  border: 2px solid black;
  cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .markaLogo {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 425px) and (min-width: 320px) {
  .markaLogo {
    flex-direction: column;
    align-items: center;
  }
}
