//aysel
.container {
  width: 90%;
  margin: 50px auto;
  .featuredPosts {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 440.98px) {
  .container {
    .featuredPosts {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: auto;
      .featuredPost {
        &:hover {
          .cardhover {
          max-width: 100%;
          height: auto;
          }
        }
        .cardhover {
          transition: 500ms;
          position: absolute;
          bottom: 50%;
          right: 0;
          h3 {
            margin-top: 120px;
          }
        }
      }
    }
  }
}

@media (min-width: 760.98px) and (max-width: 1024px) {
  .container {
    .featuredPosts {
      width: 100%;
      height: auto;
      grid-template-columns:  auto;

    
      .featuredPost {
        .cardhover {
          position: absolute;
          bottom: 5%;
          right: 5%;
          h3 {
            margin-top: 120px;
          }
        }
        .icon {
          position: absolute;
          bottom: 5%;
          right: 8%;
        }
      }
    }
  }
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .container {
    .featuredPosts {
      max-width: 100%;
      height: auto;
      .featuredPost {
        .cardhover {
          position: absolute;
          bottom: 0;
          right: 0;
          h3 {
            margin-top: 120px;
          }
        }
        .icon {
          position: absolute;
          bottom:5%;
          right: 8%;
        }
      }
    }
  }
}


