#trending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  max-width: 75vw;
  margin: 250px auto 100px;

  .head_text {
    text-align: center;
    font-family: "Roboto", sans-serif;
    line-height: 0px;

    p {
      color: #5a5a5a;
      font-size: 11px;
      font-weight: 500;
    }

    h2 {
      font-size: 56px;
      color: black;
      margin-bottom: 60px;
    }


  }

  @media (max-width: 440.98px) {
    h2 {
      font-size: 20px !important;
    }
  }
}